<!-- HTML template for the component -->
<div class="search">
  <form #form="ngForm" (submit)="submit()"> <!-- Form for city search with ngForm binding -->
    <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName"> <!-- Input field for city name with two-way data binding -->
  </form>
</div>

<!-- Display weather data if available -->
<div class="container" *ngIf="weatherData">
  <div class="upper-data">

    <!-- Display hot or cold image based on temperature -->
    <img src="assets/hot.jpg" alt="hot" *ngIf="weatherData.main.temp ?? 0 > 60">
    <img src="assets/cold.jpg" alt="cold" *ngIf="weatherData.main.temp ?? 0 <= 60">

    <!-- Display weather information -->
    <div class="weather-data">
      <div class="location">{{weatherData.name}}</div> <!-- Display city name -->
      <div class="temperature">{{ weatherData.main.temp | number: '1.0-0'}}°F</div> <!-- Display temperature -->
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>

    <!-- Display additional weather information -->
    <div class="more-info-container">
      <!-- Display minimum temperature -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="assets/min.png" alt="min">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_min | number: '1.0-0'}}°F
        </div>
      </div>

      <!-- Display maximum temperature -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="assets/max.png" alt="max">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_max | number: '1.0-0'}}°F
        </div>
      </div>

      <!-- Display humidity -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="assets/humidity.png" alt="min">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.humidity | number: '1.0-0'}}%
        </div>
      </div>

      <!-- Display wind speed -->
      <div class="info-block">
        <div class="info-block-label">
          <img src="assets/wind.png" alt="min">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.wind.speed | number: '1.0-0'}}km/h
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Angular router outlet for handling navigation -->
<router-outlet></router-outlet>
